<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <title>Receipt list</title>
  </head>
  <body>
  	<div>
  		<ul>
  			<li>Чеки</li>
  			<li><a href="/goods">Товары</a></li>
  		</ul>
  	</div>
    <h1>Receipt list</h1>
    	<form method="POST" action="receipt/add">
    		<label>query: <input type="text" name="query"></label>
    		<button>Добавить</button>
    	</form>

	    <form method="POST" action="receipt/add">
	        <label>ФН: <input type="text" name="fn"></label>
	        <label>ФД: <input type="text" name="i"></label>
	        <label>ФП: <input type="text" name="fp"></label>
	        <button>Добавить</button>
	    </form>
		<table class="pure-table">
		    <thead>
		        <tr>
		            <th>fn</th>
		            <th>fp</th>
		            <th>i</th>
		            <th>s</th>
		            <th>t</th>
		            <th>data</th>
		            <th></th>
		        </tr>
		    </thead>

		    <tbody>
	            {{range .Receipts}}
	                <tr>
	                    <td>{{.Fn}}</td>
	                    <td>{{.Fp}}</td>
	                    <td>{{.I}}</td>
	                    <td>{{.Sum}}</td>
	                    <td>{{.AddTime}}</td>
	                    <td>
	                    	{{range .Items}}
	                    	<div>
	                    		<span>{{ .Sum }}</span>
								<span>{{ .Name }}</span>
								<span>{{ .Quantity }}</span>
								<span>{{ .Price }}</span>
	                    	</div>
	                    	{{end}}
	                    </td>
	                    <td>
	                    	<form method="POST" action="receipt/delete">
	                    		<input type="hidden" name="fn" value="{{.Fn}}">
	                    		<input type="hidden" name="fp" value="{{.Fp}}">
	                    		<input type="hidden" name="i" value="{{.I}}">
	                    		<button>x</button>
	                    	</form>

	                    	<form method="POST" action="receipt/fetch">
	                    		<input type="hidden" name="fn" value="{{.Fn}}">
	                    		<input type="hidden" name="fp" value="{{.Fp}}">
	                    		<input type="hidden" name="i" value="{{.I}}">
	                    		<button>fetch</button>
	                    	</form>
	                    </td>
	                </tr>
	            {{end}}
		    </tbody>
		</table>
    </div>

  </body>
</html>
